# Ensure these 2 variables are exported in your shell
# Needed to install shared modules (if any) from private repos
export GOPRIVATE=
export GITHUB_TOKEN=

APP_PORT=8020
APP_ENV=local

# Postgres
# POSTGRES_HOST=go-service-event-db
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5437
POSTGRES_DB=go-service-event-db
POSTGRES_USER=go-service-event
POSTGRES_PASSWORD=go-service-event-password
POSTGRES_SSL_MODE=disable

# Goose Migrations
GOOSE_MIGRATION_DIR=/app/migrations
GOOSE_TABLE=goose_migrations
